.hwatch{
    font-size: 25px;
    color: white;
    margin-top: 3px;
    font-weight: 700;
    border-bottom: 2px white solid;
}

body{
    background-color: #11202b;
}
.headwish{
    width: 120px;
    height: 40px;
    margin-top: 40px;
    margin-left: 50px;
}
.moviesSays{

    width: 95%;
    height: 600px;
  
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 30px;
   
}
.moviesSays>div{
    border: 1px solid red;
}