/* body{
    background-color: #0f171e;
} */

.ImagesSlider_div_component{
    /* border: 1px solid red; */
    position: relative;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.imageSlide{
    width: 100%;
    height: 100%;
    /* border-radius: 10px; */
}

.right-arrow{
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 2rem;
    color: white;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
}
.left-arrow{
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 2rem;
    color: white;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
}
.slide-active{
    width: 100%;

}
