.top{
    width: 100%;
    height: 200px;
    background-color:  #222222;
    display: flex;
}
.primelogo{
    margin-left: 380px;
    padding-top: 20px;
    width:600px;
   
}
.headw{
    font-family: Arial, sans-serif;
    font-size: 25px;
    font-weight: 300;
    margin-top: 10px;
    color: #aaaaaa;
   
}
.textw{
    font-family: Arial, sans-serif;
    font-size: 40px;
    margin-top: -25px;
    color: #ffffff;
    font-weight: -300;
    
}
.mirror{
    width: 27%;
    height: 99%;
  
   margin-left: 350px;
   background-image: url("https://m.media-amazon.com/images/G/01/Digital_Video/Pipeline/packshot_pipeline_banner3_IN._CB409104359_.png");
   background-size: cover;
   background-repeat: no-repeat;
}
.info{
    width: 924px;
    height: 106px;
    border-top: 2px solid #1196AB;
    border-right: 2px solid #1196AB;
    border-bottom: 2px solid #1196AB;
    border-left: 12px solid #1196AB;
    margin: auto;
    margin-top: 20px;
}
.info>p{
    font-family: "Amazon Ember",Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding: 20px;
}
.pay{
    font-family: "Amazon Ember",Arial, Helvetica, sans-serif;
    font-size: 21px;
    line-height: 36px;
    margin-left: 380px;
    font-weight: 100;
    
}
.payment{
    /* height: 260.425px; */
    width: 922px;
    padding:14px 18px 14px 18px;
    margin: auto;
    outline: rgb(173, 164, 164) solid 1px;
    
}
.payment>h3{
    font-family:sans-serif;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none solid rgb(15,17,17);
    font-weight: 300;
    margin-top: -3px;
}
.payment>hr{
    margin-top: -7px;
}
.inside{
    height: 132.425px;
    width: 884px;
    padding: 6px 10px 6px 10px;
    
}
.crl{
    height: 14px;
    width: 14x;

}
.add{
    font-family: sans-serif;
    color: #0f1111;
    line-height: 20px;
    font-size: 15px;
}
.select{
    margin-top: -3px;
    font-size: 15px;
}
.rbi{
    font-size: 18px;
    color: gray;
}
.cards{
    width: 834px;
    height: 35px;
    
    margin-left: 23px;
   display:flex;
}
.cards>div{
    
    height: 29px;
    width: 45px;
    margin: 0 6px 0 0;
}
.cardimg{
    height: 29px;
    width: 45px;
}
/* .inputdiv{
    display: none;
} */
.datecard{
border-radius: 10%;
margin-left: 10px;
height: 29px;
width: 52.2375px;
font-size: 13px;
line-height: 29px;
}
.monthcard{
    margin-left: 10px;
    height: 29px;
width: 54.2375px;
font-size: 13px;
line-height: 29px;
border-radius: 10%;
}
.datecard:hover{
    background-color: rgba(192, 181, 181, 0.985);
}
.monthcard:hover{
    background-color: rgba(192, 181, 181, 0.985);
}
.sub{
    width: 100.238px;
    height: 23px;
    padding: 1px 6px 1px 6px;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    vertical-align: middle;
    background-color: #0f79af;
    color: white;
    border-radius:10% ;
    margin-left: 10px;
    border: transparent;
}
.conti{
    width:924px;
    height: 100px;
    text-align: right;
  
   display: block;
  padding-top: 30px;
   margin: auto;
}
.continue{
    width:200px;
    height: 60px;
    background-color:#0f79af ;
    color: white;
    border: transparent;
    font-size: 15px;

}
.end{
    width: 250px;
    height: 60px;
    text-align: center;
    display: block;
    font-size: 12px;
    line-height: 20px;
    margin-left:700px ;
}


@media only screen and (max-width: 500px) and (min-width: 0px)  {
    .top{
        width: 100%;
    }
.mirror,.headw,.textw{
    display: none;
}
.logomain{
    width: 200px;
}
.top{
    width: 100%;
}
.info{
    width: 100%;
}

}